= form_for @post do |f|
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :description
    %br/
    = f.cktext_area :description, id: 'sometext', ckeditor: {uiColor: '#040605', toolbar: 'mini'}
  %p
    = f.submit  
