= nested_form_for @post do |f|
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :description
    %br/
    = f.cktext_area :description, id: 'sometext', ckeditor: {uiColor: '#040605', toolbar: 'mini'}
  = f.fields_for :steps do |step_form|
    %p
      = step_form.label :title
      %br/
      = step_form.text_field :title
    %p 
      = step_form.label :description
      %br/
      = step_form.cktext_area :description, id: 'step_description', ckeditor: {uiColor: '#040605', toolbar: 'mini'}
    %p
      = step_form.link_to_remove "Remove this step"
  %p
    = f.link_to_add "Add a step", :steps
  %p
    = f.submit  
